# Ignore build artifacts
target/
*.log

# IntelliJ and Eclipse project files (optional)
*.iml
.idea/
.project
.classpath
.settings/
.vscode/

# Logs
*.log

# OS & editor-specific files
.DS_Store
Thumbs.db

# Allure-generated runtime files
allure-results/
merged-allure-report/
allure-report/
allure.tgz

# Git & CI/CD
.git/
.github/